@import mixin/media.sass

$color-white:       #FFF
$color-blue:        #3E5673
$color-blue-light:  #707a91
$color-blue-dark:   #283C55
$color-link:        #8FA5D4
$color-yellow:      #F4DF89
$color-title:       #8FA5D4
$color-button:      #F8CAC7
$color-button-text: #4D5A76

$font-Lora:         'Lora', sans-serif
$font-roboto:       'Roboto', sans-serif

$transition1:       all 500ms cubic-bezier(0.25, 0.1, 0.25, 1)

html, body, #app
  height: 100%

body
  background: $color-blue
  font-family: $font-Lora
  font-weight: 400
  font-style: normal
  font-size: 48px
  line-height: 1.5
  color: $color-white
  // min-width: 1024px
  -webkit-font-smoothing: antialiased
  overflow-y: scroll

  +tablet-l
    font-size: 42px
    line-height: 60px

  +tablet-m
    font-size: 32px
    line-height: 60px

  +mobile
    font-size: 24px
    line-height: 50px

button
  outline: none
  background-color: $color-button
  color: $color-button-text
  border: none
  border-radius: 100px
  cursor: pointer

  &:hover
    transition: $transition1
    background-color: lighten($color-button, 5%)

input
  border-radius: 0
  &::placeholder
    color: $color-blue-light
  &:focus::placeholder
    opacity: 0

a
  color: $color-link

.grid
  display: block
  max-width: 1024px
  margin-left: auto
  margin-right: auto
  padding-left: 8px
  padding-right: 8px

.right
  float: right

.date
  font-size: 18px
  line-height: 1.33

  +mobile
    font-size: 12px

.root
  position: relative

.main
  &__title-container
    display: inline-block
    z-index: 0
    // position: absolute
    // padding-top: 65px
    padding-bottom: 65px
    // top: 0
    // left: 10px

    +mobile
      padding-bottom: 30px

  &__title
    font-family: $font-roboto
    font-size: 24px
    font-weight: 500
    line-height: 1.5
    color: $color-title

  &__subtitle
    font-family: $font-roboto
    font-size: 16px
    // font-weight: bold
    line-height: 1.5
    color: lighten($color-title, 20%)

    +mobile
      font-size: 12px

  &__menu-container
    // position: absolute
    // right: 10px
    // top: 0
    // padding-top: 65px
    padding-bottom: 65px

    +tablet
      position: absolute
      right: 23px
      top: 10px
      padding-left: 15px
      width: 100%
      padding-bottom: 0

    +mobile
      position: absolute
      right: 15px
      top: 0px
      padding-left: 15px
      width: 100%
      padding-bottom: 0

  &__about, &__feedback
    font-family: $font-roboto
    font-size: 16px
    font-weight: 500
    line-height: 1.5
    // color: $color-white
    color: lighten($color-title, 20%)
    float: right
    margin-left: 15px
    cursor: pointer
    &:hover
      color: $color-white
      transition: $transition1

    +tablet
      padding-top: 10px
      padding-bottom: 5px
      font-size: 12px

    +mobile
      padding-top: 10px
      padding-bottom: 5px
      font-size: 12px

  &__instruction-container
    position: relative
    background-color: $color-blue
    display: block
    padding-top: 65px
    padding-bottom: 65px
    padding-left: 15px
    padding-right: 15px

    +non-desktop
      padding-left: 36px
      padding-right: 36px

    +mobile
      padding-top: 45px
      padding-left: 23px
      padding-right: 23px

  &__variable-input
    text-align: center
    width: 360px
    outline: none
    background-color: transparent
    border-top: none
    border-left: none
    border-right: none
    border-bottom: solid 1px $color-blue-light
    color: darken($color-button,5%)
    display: inline-block
    appearance: none

    &:focus
      color: darken($color-button,5%)
      border-bottom: solid 1px $color-white

    &.lastDay-input
      // width: 480px

    +non-desktop
      width: 250px
      line-height: 1

    +mobile
      width: 150px
      // margin-bottom: 5px
      max-width: 100%

      // border: 1px solid red
      box-sizing: border-box //iOS bug fix
      line-height: 1 //iOS bug fix
      height: 34px //iOS bug fix
      padding-top: 3px //iOS bug fix
      padding-bottom: 0 //iOS bug fix
      vertical-align: middle //iOS bug fix

      &.lastDay-input
        width: 180px

  &__button-container
    width: 100%
    display: flex
    justify-content: center

  &__generate-button
    padding: 22px 50px
    line-height: 1.5
    font-size: 24px
    font-family: $font-roboto
    font-weight: 500
    margin-top: 60px

    +mobile
      margin-top: 45px

    .main__generate-icon
      width : 26px
      vertical-align: text-bottom

  &__variable-in-paragraph
    color:  darken($color-button,5%)

  &__generated-letter

    &-container
      margin-left: auto
      margin-right: auto
      border-radius: 5px
      background-color: $color-blue
      margin-bottom: 176px
      padding: 100px 95px

      +tablet
        padding: 60px 60px 80px

      +mobile
        padding: 30px 23px 60px
        margin-left: 8px
        margin-right: 8px
        font-size: 18px

    &-overlay
      &
        position: absolute
        top: 0
        font-size: 24px
        line-height: 1.5
        background-color: $color-blue-dark
        width: 100%

      &-top-container
        display: flex
        flex-direction: row-reverse
        margin-top: 60px
        margin-bottom: 60px

        +non-desktop
          margin-top: 40px
          margin-bottom: 40px

        +mobile
          margin-top: 25px
          margin-bottom: 25px
          margin-right: 12px

      &-button
        font-family: $font-roboto
        line-height: 1.5
        font-size: 16px
        background-color: $color-button
        color: $color-button-text
        border-radius: 27px
        box-shadow: 0 0 15px 0 rgba(51, 51, 51, 0.25)
        padding: 15px 25px
        margin-left: 10px
        margin-right: 10px

        &.active
          color: $color-button
          background-color: darken($color-blue-dark,3%)
          box-shadow: none

        +mobile
          margin-left: 5px
          margin-right: 5px
          padding: 12px 20px

        .label
          +tablet
            display: none

          +mobile
            display: none

      &-enter
        transform: translateY(100%)
        &-active
          transform: translateY(0%)
          transition: $transition1

      &-leave
        transform: translateY(0%)
        &-active
          transform: translateY(100%)
          transition: $transition1

  &__popup
    padding: 45px
    display: inline-block
    width: 100%
    max-width: 740px
    border-radius: 2px
    z-index: 3
    background-color: $color-button-text

    +tablet
      padding: 45px

    +mobile
      padding: 25px 25px 40px
      margin-left: 23px
      margin-right: 23px
      margin-top: 15px
      margin-bottom: 15px

    &-container
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      overflow: auto

      +mobile
        position: absolute
        align-items: flex-start

    &-background
      position: absolute
      height: 100%
      width: 100%
      opacity: 0.8
      z-index: 2
      top: 0
      left: 0
      background-color: #333333

    .main__header
      font-family: $font-roboto
      font-size: 24px
      font-weight: 500
      line-height: 1.5
      color: $color-title

      .main__close-icon
        // color: lighten($color-title, 20%)
        &:hover
          // color: $color-white
          cursor: pointer

    .main__sub-header
      font-family: $font-roboto
      font-size: 16px
      font-weight: 500
      line-height: 1.5
      color: $color-title
    p
      font-family: $font-roboto
      font-size: 16px
      font-weight: normal
      font-style: normal
      font-stretch: normal
      line-height: 1.5
      letter-spacing: normal
      color: $color-white

  &__paypal
    &-button
      display: inline-flex
      border-radius: 100px
      background-color: $color-yellow
      font-family: $font-roboto
      font-size: 16px
      font-weight: 500
      line-height: 1.5
      color: #5f6062
      padding: 15px 30px
      justify-content: center
      align-items: center
      cursor: pointer
      flex-wrap: wrap

    &-icon
      margin-left: 10px

      +mobile
        // width: 40px
        margin-top: 5px

  &__generate-icon,
  &__edit-icon,
  &__copy-icon,
  &__close-icon,
  &__tick-icon
    vertical-align: text-top
    width: 20px
    margin-left: 5px

    +mobile
      margin-left: 0

.react-datepicker__portal
  background-color: #333 !important
  background-color: rgba(51, 51, 51, 0.8) !important

  .react-datepicker
    border: none !important

    .react-datepicker
      &__header
        background: $color-blue-dark
        color: $color-white

      &__current-month,
      &__day-name
        color: $color-white

      &__day
        font-size: 1.5em

      &__day--selected
        background-color: $color-blue-dark
        color: $color-white

      &__month-dropdown
        background: $color-blue-dark
        border: none

      &__month-read-view--down-arrow
        border-top-color: $color-button

      &__navigation
        border-radius: 0
        top: 13px

        &--previous
          &:hover
            background: none
            border-right-color: $color-button

          &--disabled
            border-right-color: $color-button-text
            &:hover
              background: none
              border-right-color: $color-button-text

        &--next
          &:hover
            background: none
            border-left-color: $color-button
